@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .scrolling-banner {
    animation: scroll 20s linear infinite;
  }
  